

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{   
    background-color: rgba(245, 244, 244, 0.959);
    padding: 20px;
}

header{
    width: 100%;    
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

header h1 {
    color:green;
    border-bottom: 2px solid green;
}

.termo-cabecalho{
    width: 100%; 
    height: auto;
    padding: 10px;
    background-color: white;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 0px 3px 10px grey;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;

}

.close{
    padding: 10px !important;
}



.card{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: white !important;
    padding: 10px;
}

.form-label{
    font-weight: bold !important;
}

.pegar-assinatura{
    display: flex !important;
    flex-direction: column;
    gap: 5px !important;
}

#assinatura{
    height: 50px !important;
}

.botoes{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-success{
    width: 50% !important;
}


.erro{
    border-color: red !important;
}

.correto{
    border-color: green !important;
}